body {
  font-family: 'Courier New', Courier, monospace;
}

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.calculator-display {
  font-size: 3em;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-direction: row;
  justify-content: space-around;
}

.cal-btns {
  font-size: 2em;
  border-radius: 3em;
  border: none;
  min-width: 3.5rem;
  padding: 0.3em;
  margin: 0.1em;
  background-color: gray;
}
.cal-btns:hover {
  background-color: lightgray;
}
.cal-btns:active {
  background-color: whitesmoke;
}

.fn-btn {
  background-color: coral;
}
.fn-btn:hover {
  background-color: orange;
}
.fn-btn:active {
  background-color: orangered;
}