body {
  font-family: 'Kode Mono', 'Courier New', monospace;
}

.calcTitle {
  text-align: center;
  margin-bottom: 0.2em;
}

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.calculator {
  margin: auto;
  border: 0.2em solid gray;
  border-radius: 1em;
  padding: 0.4em;
  min-width: 16em;
  max-width: 24em;
}

#display {
  padding: 0.3em;
  margin: auto;
  border: none;
  border-radius: 0.1em;
  width: 100%;
  font-size: 5em;
  min-height: 16vh;
  font-family: 'Kode Mono', 'Courier New', monospace;
  overflow: hidden;
  display: block;
  background-color: lightgray;
  box-sizing: border-box;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1em;
}

.cal-btns {
  font-size: 2em;
  border-radius: 3em;
  border: none;
  min-width: 1rem;
  padding: 0.3em;
  margin: 0.1em;
  background-color: gray;
}
.cal-btns:hover {
  background-color: lightgray;
}
.cal-btns:active {
  background-color: whitesmoke;
}

.fn-btn {
  background-color: coral;
}
.fn-btn:hover {
  background-color: orange;
}
.fn-btn:active {
  background-color: orangered;
}

.op-btn {
  background-color: hsla(17, 100%, 54%, 1);
}